@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #FFFCF5;
    font-family: 'IBM Plex Sans', sans-serif;
    src: url('/fonts/ibm-plex-sans.woff2') format('woff2');
    font-weight: 100 700;
    font-display: swap;

  }
}